#
# Mac files
#
.DS_Store

#
# Log files
#
*.log

#
# Conf files
#
conf.json

#
# Videos folder
#
videos

#
# Metadata folder
#
metadata

#
# Blacklist file
#
blacklist

#
# Output file
#
check_videos.csv